.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 900px) {

.flex-grid-thirds {
  display: block;
}
 
  .flex-grid-thirds .col {
    width: 100%;
  }
}




* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: #fff;
  padding: 20px;
}
